$color-primary-yellow: #FBDB89;
$color-primary-orange: #F48982;
$color-font-primary: #655A56;
$color-background-grey-1: #F9F5F3;
$color-background-grey-2: #F2EFEE;

$color-boxShadow-grey: #655a56;

$color-linear-gradient: linear-gradient(to right bottom, $color-primary-yellow, $color-primary-orange);