$color-primary-yellow: #FBDB89;
$color-primary-orange: #F48982;
$color-orange-light: #F59A83;
$color-font-primary: #655A56;
$color-background-grey-1: #F9F5F3;
$color-background-grey-2: #F2EFEE;
$color-background-grey-3: #DAD0CC;

$color-boxShadow-grey: rgb(101, 90, 86);

$color-linear-gradient: linear-gradient(to right bottom, $color-primary-yellow, $color-primary-orange);